:root {
  --primary-color: teal;
  --secondary-color: steelblue;
  --neutral-color: cornsilk;
  --dark-color: #333;
  --light-color: #fff;
  --font: "Comfortaa", cursive;
  --ekan-vari: #008083 ;
  --tokan-vari: #41C704 ;
  --kolmannen-vari: #F8002D ;
}
body {
  background: var(--neutral-color);
  font-family: var(--font);
  color: var(--light-color);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item {
  background: var(--primary-color);
  min-height: 300px;
  border-radius: 3px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  transition: all 2s ease-in-out;
}
.item:hover {
  box-shadow: inset 0 0px 500px var(--dark-color);
  background: var(--secondary-color);
}

.fake {
  height: 100px;
  width: 100px;
  background: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px var(--dark-color), inset 0px 0px 5px var(--dark-color);
  transition: height 2s, width 2s;
}

.fake:hover {
  height: 400px;
  width: 400px;
}
.uusieka:hover {
  box-shadow: inset 0 0px 500px var(--dark-color);
  background: var(--secondary-color);
}
.uusitoka:hover {
  box-shadow: inset 0 0px 500px var(--dark-color);
  background: var(--secondary-color);
}
.uusikolmas:hover {
  box-shadow: inset 0 0px 500px var(--dark-color);
  background: var(--secondary-color);
}


.uusieka {
  background: var(--ekan-vari);
  color: var(--light-color);
  border-radius: 3px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  padding: 1rem;
  content: " ";
  padding-bottom: 100%;
  display: block;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  transition: all 1s ease-in-out;
  
}
.uusitoka {
  background: var(--tokan-vari);
  color: var(--light-color);
  transition: all 2s ease-in-out;
  border-radius: 3px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  padding: 1rem;
  content: " ";
  padding-bottom: 100%;
  display: block;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  transition: all 2s ease-in-out;
}
.uusikolmas {
  background: var(--kolmannen-vari);
  color: var(--light-color);
  border-radius: 3px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  padding: 1rem;
  content: " ";
  padding-bottom: 100%;
  display: block;
  text-shadow: 1px 1px 1px var(--light-color), 3px 3px 5px var(--dark-color);
  transition: all 3s ease-in-out;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.grid2 > span {
  
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid2 > span:before {
  content: "";
  padding-bottom: 100%;
  display: block;
}



